<!DOCTYPE html>
<html>
    <head>
        <title>ORAS Basehaxx Injector</title>
    </head>
    <body>
        <p>Hello World</p>
        <form action = "/api/save_in_out" method = "post" enctype="multipart/form-data"> 
        <input type="radio" name="oras" value="or"/>Omega Ruby</br>
        <input type="radio" name="oras" value="as" />Alpha Sapphire</br>
        <input type="radio" name="model" value="old" />OLD 3DS</br>
        <input type="radio" name="model" value="new"/>NEW 3DS</br>
        <input type="radio" name="region" value="eur" />EUR</br>
        <input type="radio" name="region" value="usa"/>USA</br>
        <input type="radio" name="region" value="jpn"/>JPN</br>

        movable.sed<input type="file" name="movable" value="movable.sed"/> </br>
        00000001.sav<input type="file" name="save" value="00000001.sav"/> </br>
        <input type="submit" value="Submit"> 
    </form> 
    </body>
</html>